body{
    font-family: 'Akaya Telivigala', cursive;
    background-color: rgba(0, 128, 0, 0.3);
}

h1{
    text-align: center;
    margin-top: 40px;
    grid-area: title;
}

.me{
    width: 420px;
    height: 410px;
}

h1{
  grid-area: title;
    text-align: center;
    margin-top: 40px;
}

ul {
    background-color:white;
   
}

#list{
  display:nav;
  display: grid;
  grid-template-columns: 400px 420px 400px;
  grid-template-rows: 130px;
  

}

li{
    display:inline-block;
   
    font-size: 30px;
    margin-left: 200px;
    margin-top: 30px;
    margin-bottom: 20px;

  
}



a{
    text-decoration: none;
    color: black;
}


.dropbtn {
   
    font-family: 'Akaya Telivigala', cursive;
    padding: 16px;
    margin-left: 15px;
    font-size: 30px;
    border: none;
    color: black;
    margin-left: 120px;
    background-color: white;

  }
  
  .dropdown {
    position: relative;
    display: inline-block;
    margin-left: 120px;
    background-color: white;
  }
  
  .dropdown-content {
    display: none;
    position: absolute;
    background-color: #f1f1f1;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
    margin-left: 120px;
  }
  
  .dropdown-content a {
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
  }
  
  .dropdown-content a:hover {background-color: #ddd;}
  
  .dropdown:hover .dropdown-content {display: block;}
  
  /* .dropdown:hover .dropbtn {background-color: #868b86;} */

 

  #grid-container{
    display: grid;
    grid-template-columns: 600px 100px;
    grid-template-rows: 100px ;
    box-shadow: 0 4px 8px 0  white(0,0,0,0.2);
    transition: 1.3s;
    background-color: white;
    width: 420px;
    height: 520px;
    border-radius: 20px solid white;
    margin-left: 30px;

  }

  #grid-container:hover {
    box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2);
    
  }

  
img {
  border-radius: 5px;
  width: 420px;
  
}

h4{
  margin-left: 40px;
}

button{
  margin-left: 40px;
  
}



#about-me-p{
  width: 450px;
  margin-left: 150px;
  margin-bottom: 900px;
  font-size: 30px;
  grid-area: p;
 

}

.card {
  padding: 2px 16px;
  border-radius: 20px solid white;
  grid-area: my-card;
}

  .hobbies{
    grid-area: hobbies;
      display: flex;
      flex-direction: row;
  }

  h2{
    
      border-radius: 5px;
      border: white solid 3px;
      padding-left: 220px;
      width: 100%;
  }


  

  .footer{
    grid-area: fo;
          
    background-color:white;
    margin-top: 100px;
  
}

h3{
    text-align: center;
  padding-top: 20px;
}

.icons{
  display:flex;
  flex-direction: row;
  justify-content: center;

}

#git{

  background-color: white;
padding-right: 10px;
  width: 40px;
  height: 30px;
}

#linked{
  background-color: white;

  width: 40px;
  height: 30px;
}

#facebook{
  background-color: white;
  
  width: 40px;
  height: 30px;
}


#container{

  display: grid;
  height: 60hv;
  grid-template-columns: 1670px ;
   grid-template-rows:50px ;
  grid-template-areas: 
  "title"
  "nav"
  " my-card p"
 
  "hobbies"
  "fo";
 
}



@media (max-width:600px){
#container{
  display: grid;
  grid-template-columns: 600px  600px;
  grid-template-rows: 50px ;
  grid-template-areas: 
  "title title title title title title title "
  "nav nav nav nav nav nav nav "
  " my-card my-card my-card p p p p  "
  " hobbies hobbies hobbies hobbies hobbies hobbies hobbies"
  "fo fo fo fo fo fo fo";
}
}