 body{
    font-family: 'Akaya Telivigala', cursive;

}

h1{
  text-align: center;
  margin-top: 40px;
grid-area: title;
color: black;
padding-top: 25px;
  
}


#list{
  grid-area:nav;
}

ul{
 
  background-color: rgb(214, 121, 121);
}
li{
  display:inline-block;
  font-size: 30px;
  margin-left: 200px;
  margin-top: 50px;
  margin-bottom: 30px;
  


}


a{
  text-decoration: none;
  color: white;
}


.dropbtn {
 
  font-family: 'Akaya Telivigala', cursive;
  padding: 16px;
  font-size: 30px;
  color: white;
  border: none;
  margin-left: 120px;
  background-color: rgb(214, 121, 121);

}

.dropdown {
  position: relative;
  display: inline-block;
  margin-left: 120px;
}

.dropdown-content {
  display: none;
  position: absolute;
  background-color: #f1f1f1;
  min-width: 160px;
  box-shadow: 0px 8px 16px 0px black;
  z-index: 1;
  margin-left: 120px;
}

.dropdown-content a {
  color: black;
  padding: 12px 16px;
  text-decoration: none;
  display: block;
}

.dropdown-content a:hover {background-color: #ddd;}

.dropdown:hover .dropdown-content {display: block;}


blockquote{
  grid-area: p;
  font-size: 20px;
  flex: 70%;
  background-color: white;
  padding: 20px;
  font-size: 20px;

}

.amman-grid{
  
    display:inline-grid;
    grid-template-columns: 60px 60px 60px;

    grid-gap: 480px;
    margin-left: 60px;
    grid-area: jordan-img;
   
    
}


.amman-grid-item{
 width: 500px;
  height: 450px;

  }

  

  #caption{
    display: inline-block;
    font-size: 30px;
    margin-top: 15px;
    padding-left: 60px;
    grid-area: jordan-img;
  }

  #caption-one{
    display: inline-block;
    font-size: 30px;
    padding-left: 350px;
    grid-area: jordan-img;

  }

  #caption-two{
    display: inline-block;
    font-size: 30px;
    padding-left: 450px;
    grid-area: jordan-img;

  }

  .amman-grid-two{
    display:inline-grid;
    grid-template-columns: 60px 60px 60px;
    grid-gap: 480px;
    margin-left: 60px;
    padding-top: 20px;
    grid-area: jordan-img;

  }

     #caption-three{
    font-size: 30px;
    margin-top: 20px;
   margin-left: 60px;
   width: 300px;
   grid-area: jordan-img;


  } 

  #caption-four{
    
    display: inline-block;
    font-size: 30px;
    padding-left: 650px;
 margin-bottom: 20px;
 grid-area: jordan-img;

  }

  #caption-five{
    display: inline-block;
    font-size: 30px;
    margin-top: 15px;
    padding-left: 320px;
    grid-area: jordan-img;


  }   

  /* .caption{
    display: grid;
    grid-template-rows: 60px ;
    grid-gap: 80px;
  } */




    .footer{
          
        background-color:rgb(214, 121, 121);
        margin-top: 10px;
        grid-area: fo ;
    }

    h3{
        text-align: center;
      padding-top: 20px;
    }

    .icons{
      display:flex;
      flex-direction: row;
      justify-content: center;

    }

    #git{

      background-color: rgb(214, 121, 121);
padding-right: 10px;
      width: 40px;
      height: 30px;
    }

    #linked{
      background-color: rgb(214, 121, 121);

      width: 40px;
      height: 30px;
    }

    #facebook{
      background-color: rgb(214, 121, 121);
      
      width: 40px;
      height: 30px;
    }
    #container{

      display: grid;
      height: 60hv;
      grid-template-columns:1670px ;
      grid-template-rows:50px ;
      grid-template-areas: 
      "title"
      "nav"
      "p"
      "jordan-img"
      "fo";
  }
  
  
  
  @media (max-width:600px){
    #container{
      display: grid;
      grid-template-columns: 600px ;
      grid-template-rows: 50px ;
      grid-template-areas: 
      "title title title title title title title "
      "nav nav nav nav nav nav nav "
      " p p p p p p p "
      "jordan-img jordan-img jordan-img jordan-img jordan-img jordan-img jordan-img"
      "fo fo fo fo fo fo fo";
    }
  }

