body{
    font-family: 'Akaya Telivigala', cursive;

}

ul{
  background-color: rgb(214, 121, 121);
}
li{
  display:inline-block;
  font-size: 30px;
  margin-left: 200px;
  margin-top: 50px;
  margin-bottom: 30px;
  


}

a{
  text-decoration: none;
  color: white;
}


.dropbtn {
 
  font-family: 'Akaya Telivigala', cursive;
  padding: 16px;
  font-size: 30px;
  color: white;
  border: none;
  margin-left: 120px;
  background-color: rgb(214, 121, 121);

}

.dropdown {
  position: relative;
  display: inline-block;
  margin-left: 120px;
}

.dropdown-content {
  display: none;
  position: absolute;
  background-color: #f1f1f1;
  min-width: 160px;
  box-shadow: 0px 8px 16px 0px black;
  z-index: 1;
  margin-left: 120px;
}

.dropdown-content a {
  color: black;
  padding: 12px 16px;
  text-decoration: none;
  display: block;
}

.dropdown-content a:hover {background-color: #ddd;}

.dropdown:hover .dropdown-content {display: block;}

h1{
    text-align: center;
    margin-top: 40px;

color: black;
padding-top: 25px;
    
}

blockquote{
  font-size: 20px;
  flex: 70%;
  background-color: white;
  padding: 20px;
  font-size: 20px;

}

.amman-grid{
  
    display:inline-grid;
    grid-template-columns: 60px 60px 60px;

    grid-gap: 480px;
    margin-left: 60px;
   
    
}


.amman-grid-item{
 width: 500px;
  height: 450px;

  }

  

  #caption{
    display: inline-block;
    font-size: 30px;
    margin-top: 15px;
    padding-left: 60px;
  }

  #caption-one{
    display: inline-block;
    font-size: 30px;
    padding-left: 350px;
  }

  #caption-two{
    display: inline-block;
    font-size: 30px;
    padding-left: 450px;
  }

  .amman-grid-two{
    display:inline-grid;
    grid-template-columns: 60px 60px 60px;
    grid-gap: 480px;
    margin-left: 60px;
    padding-top: 20px;
  }

     #caption-three{
    font-size: 30px;
    margin-top: 20px;
   margin-left: 60px;
   width: 300px;

  } 

  #caption-four{
    
    display: inline-block;
    font-size: 30px;
    padding-left: 650px;
 margin-bottom: 20px;
  }

  #caption-five{
    display: inline-block;
    font-size: 30px;
    margin-top: 15px;
    padding-left: 320px;

  }   

  /* .caption{
    display: grid;
    grid-template-rows: 60px ;
    grid-gap: 80px;
  } */




    .footer{
          
        background-color:rgb(214, 121, 121);
        margin-top: 10px;
      
    }

    h3{
        text-align: center;
      padding-top: 20px;
    }

    .icons{
      display:flex;
      flex-direction: row;
      justify-content: center;

    }

    #git{

      background-color: rgb(214, 121, 121);
padding-right: 10px;
      width: 40px;
      height: 30px;
    }

    #linked{
      background-color: rgb(214, 121, 121);

      width: 40px;
      height: 30px;
    }

    #facebook{
      background-color: rgb(214, 121, 121);
      
      width: 40px;
      height: 30px;
    }

